@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700');

:root{
    --borders: #EFC69B;
    --text: #AF1B3F;
    --dark: #473144;
    --body-font: Helvetica, Arial, sans-serif;
    --heading-font: Lora, Impact, serif;
}

*{
    margin: 0 auto;
    color: var(--dark);
    font-family: var(--body-font);
}

h1{
    padding: 5% 0;
    text-align: center;
    font-family: var(--heading-font);
}
nav{
    padding: 5% 0;
}
#nav-grid{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    justify-content: end;
    justify-items: end;
    border: 1px solid var(--borders);
    padding: 1% 0;
    font-size: 1.2em;
    list-style: none;
}
#main-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
article{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
a{
    color: var(--text);
}
h2{
    color: var(--text);
    font-family: var(--heading-font);
}
img{
    width: 400px;
    height: 600px;
    padding: 3% 0;
    display: block;
    margin: 0 auto;
}
p{
    padding: 1% 0;
}
h3{
    padding: 3% 0;
}
.skiptocontent a {
    position: absolute;
    top: -400px;
    background-color: black;
    color: white;
}
.skiptocontent a:focus{
    top: 0px
}
#filters{
    border: 1px solid var(--borders);
    width: 90%;
}
.read-more{
    font-weight: bold;
}
.review-info{
    text-align: right;
    margin: 2%;
    padding: 2%;
    padding-right: 5%;
    border-right: 1px solid var(--borders);
}
.review-date{
    font-size: 1.2em;
}
.review-content{
    padding-left: 5%;
}
.review-content > h2{
    margin-top: 1%;
}